
@*<h2>Editare task</h2>
<br />
<form method="post" action="/Tasks/Edit/@ViewBag.Task.Id">

 @Html.Label("Status", "status")
    <br />
    @Html.DropDownListFor(@ViewBag.Task.status, new SelectList(Enum.GetValues(typeof(Proiect.Models.Status))), "Select Status", new { @class = "form-control" })
    @Html.ValidationMessageFor(@ViewBag.Task.status, null, new { @class = "text-danger" })
    <br /><br />
    <button class="btn btn-primary" type="submit">Modify</button>

</form>*@
@model Proiect.Models.Task
<h2>Editare task</h2>

<form method = "POST" asp-controller = "Tasks" asp-action="Edit">
  <input type="hidden" name="TaskId" value="@Model.Id" /> 
  <label for="status">Choose a status:</label>
  <select name="status">
   <option value="to do">to do</option>
   <option value="doing">doing</option>
   <option value="done">done</option>
  </select>
 
  <button type="submit" value="Submit"> Editare status task</button>
</form>